body {
    padding: 30px;
  }
  .details li {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
  li i {
    margin-right: 10px;
  }
  #overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  #closebtn {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color: #86a8e7;
    cursor: pointer;
  }
  
  .display {
    display: none;
    transition: 0.3s linear;
  }
  #createPerson {
    color: white;
  }
  .details a {
    text-decoration: none;
    color: black;
  }
  .img {
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .jumbotron{
      position: relative;
  }
  .jumbotron button{
      position: absolute;
      right: 10px;
      top: 10px;
  }